html, div{
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin-bottom: 30px;
}
.tools{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 100%;
  justify-content: space-evenly;
  max-width: 1885px;
  max-height: 100px;
}
.tools button {
  background-color: #858080;
  color: white;
  padding: 14px 20px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  height: 60px;
}
.tools button:hover {
  background-color: #1c7279;
}
.toolsHeader{
  padding-top: 15px;
}
.form-section, .list-section, .tools {  
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  height: 300px;
}
.container input[type=text], input[type=number] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0 10px 54px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container input[type=checkbox] {
  padding: 12px 20px;
  margin: 8px 0 10px 32px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-section button, .list-section button  {
  position: relative;
  width: 100%;
  background-color: #858080;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.form-section button:hover {
  background-color: #4CAF50;
}

.list-section button:hover {
  background-color: #FF6347;
}

.list-section {
  overflow-y: auto;
  min-width: 800px;
  width: 100%;
}
.form-section{
  min-width: 400px;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border: 1px solid #ddd;
}
.nActive {
  color: red;
}
.Active {
  color: green;
}
tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #eeeeee;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #858080;
  color: white;
}